/*header*/

.testing {
    background-color: black;
}

.header h1 {
    font-weight: 900;
}

.header {
    margin-bottom: 3vh;
}

/*.insight-header {
    margin-bottom: 5vh;
}*/

/* Section Margin*/
.fp-auto-height {
    margin-top: 10%;
    margin-bottom: 10%
}


/*outline*/
.outline-col > ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin-top: 3vh;
}


/*page-wrapper*/
.page-wrapper {
    padding: 24px;
    height: 100vh;
    display: flex;
    align-items: center;
}

/*Photo flex container and items*/

.photo-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.photo {
    margin: 12px;
    flex: 1 1 240px;
}

.photo-full {
    flex: 1 1 100%;
}

/* override the display: flex aka no align top within div*/
.no-flex {
    display: block !important;
}

.flex-center {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.toc {
    margin-top: 5vh;
}

/* glyphicon */
.glyphicon {
    font-size: 1.2em;
    margin-top: 4vh;
    text-align: center;
}

.glyphicon-chevron-up {
    margin-top: 2vh;
    text-align: center;
}

/* all img*/

.max-40 {
    max-height: 40%;
}

/*image+text*/

.content-copy > ul {
    list-style: none;
    text-align: left;
    padding-left: 24px;
    margin-top: .6vh;
}

.content-copy > ul > li {
    margin-top: 1.2vh;
    list-style: initial;

}

.content-copy > ol > li {
    text-align: left;
}

strong {
    margin-left: 0px;
}

.research-link {
    margin-top: 3%
}


h4 {
    margin-bottom: 24px;
}

.summary-ul {
    padding-left: 12px;
}


/*icon+text*/

.icon-copy {
    margin: auto;
    text-align: left;
}


.center-icon {
    width: 100px;
}

/*gradient background for header & footer*/
.masthead {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 89%, rgba(255, 255, 255, 0.5) 94%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 89%, rgba(255, 255, 255, 0.5) 94%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 89%, rgba(255, 255, 255, 0.5) 94%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=0);
    z-index: 999;
}

.mastfoot {
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 15%, rgba(255, 255, 255, 1) 32%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 15%, rgba(255, 255, 255, 1) 32%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 15%, rgba(255, 255, 255, 1) 32%, rgba(255, 255, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
}

/*img hover shadow*/
.img-box,
.img-shadow {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.img-box:hover,
.img-box:focus {
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.img-responsive {
    margin: 16px auto;
}

.photo .img-responsive {
    margin: 0;
}

/*---------------*\
|   MEDIA QUERIES   |
 \*---------------*/


/* viewport 320px and above*/
@media only screen and (min-width : 320px) {

    .page-wrapper {
        height: auto;
    }


    .outline-col > ul {
        display: none;
    }

}


/* viewport 480px and above*/
@media only screen and (min-width : 480px) {
    .photo-top-row {
        margin-top: 20vh;
    }

}

}


/* viewport 768px and above*/
@media only screen and (min-width: 768px) {

    /* Pull out the header and footer */

    .photo-header-row {
        margin-top: inherit;
    }

    .row {
        display: flex;
        align-items: center;
    }

    .outline-col > ul {
        display: inherit
    }

    .page-wrapper {
        height: 100vh;
    }

    .masthead {
        position: fixed;
        top: 0px;

    }

    .mastfoot {
        position: fixed;
         !important bottom: -24px;
    }

    .photo-top-row {
        margin-top: 30vh;
    }

    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%;
        /* Must be percentage or pixels for horizontal alignment */
    }
}

@media only screen and (min-width: 992px) {

    .masthead,
    .mastfoot,
    .cover-container {
        width: 72vw;
    }

}
