
.outline-col > ul {
    list-style:none;
    text-align:center;
    padding-left:0;
}

.row {
    display:inline-block;
}

.page-wrapper {
    height:100vh;
    width:auto;
    display: table;
    vertical-align:middle;
}


/*img hover shadow*/
.img-box:hover,
.img-box:focus{
  -moz-box-shadow: 0px 1px 2px #888888;
  -webkit-box-shadow: 0px 1px 2px #888888; 
  box-shadow: 0px 1px 2px #888888;
}


